doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/404.css')
  body.fourOhFour
  
    div.miaBook= title
      div.smaller It looks like the book you were working with has been cast into the sea


    script(src='/javascripts/bubbles.js')
    script.
      makeBubbles(50, '#b8c6db') 