extends layout

block content
  .grid.grid-center.book
    heading Are you sure you want to delete #{title}?
    span
      | This is a permanent action and can not be undone after doing so.

    form(method="POST" action=`/books/${book.id}/delete`)
      p
        a.button.border(href=`/books`) Nevermind!
      p
        input.border(type="submit" value=`Delete and make ${book.author} cry`)