doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navBar
      a(href='/') Book List
      a(href=`/books/new`) Create New Book

    block content
